name: charset_converter
description: Charset/encoding converter that uses underlying platform - no external dependencies
version: 2.1.1
homepage: https://github.com/pr0gramista/charset_converter
repository: https://github.com/pr0gramista/charset_converter

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: pl.pr0gramista.charset_converter
        pluginClass: CharsetConverterPlugin
      ios:
        pluginClass: CharsetConverterPlugin
      windows:
        pluginClass: CharsetConverterPlugin
